.cardDisplay{
    background-color: gainsboro;
    padding-bottom: 10px;
}
.modalWidth{
    width: 60%;
    max-width: 60%;
}

/* .slds-modal__container{
    width: 60%;
    max-width: 60%;
} */
/* .slds-modal__content .slds-grid{
    display: block;
} */
.modalPadding{
    padding: 5px;
}
.divNoRecFound{
    background-color: whitesmoke;
    text-align: center;
    padding: 100px;
    font-size: 1.05rem !important;
}
.divErrorPage{
    padding: 15px;
    border-style: groove;
    margin-bottom: 10px;
}
.divErrorPageHead{
    background-color: darkred;
    color: white;
    height: 40px;
    font-weight: bold;
    text-align: center;
    font-size: medium;
}
.divfontSize{
    font-size: medium;
}
.divErrorModal{
    padding: 15px;
    background-color: white;
    border-bottom-style: inset;
}
.clsButton{
    padding-top: 35px;
}
.clsButtonAlign{
    font-size: large;
    padding-right: 20px;
    font-weight: bold;
}